div {
  background-color: pink;
  height: 200px;
  width: 600px;
  /*
   border-width: 10px;
   border-style: solid;
   border-color: green; */
  border: 10px solid black;
  border-top: 10px dashed blue;

  border-radius: 15px;
  padding: 0px;
  padding-left: 20px;
  padding-bottom: 5px;

  margin-bottom: 20px;
  margin-left: 30px;
}

.para {
  background-color: pink;
  height: 100px;
  width: 400px;
  border: 10px solid black;
  border-top-right-radius: 30px;
  padding: 10px 20px 30px 40px; /*Padding clockwise- top, right, bottom, left*/
  margin: 20px 30px 40px 50px; /*margin clockwise- top, right, bottom, left*/
}

button {
  border: 2px solid black;
  border-radius: 5px;
}

/* 
we use margin to set space outside the box (like space between two boxes)
whereas padding is used for spacing within the box */
